.btn-xlarge {
  padding: 18px 28px;
  font-size: 50px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.color-green{
  color:green;
}

.float-left{
  float:left;
  margin-right:15px;
}

#welcome h1{
  font-size:100px;
}

#identify p{
  font-size:50px;
}

#live-video{
  margin-left:2%;
  margin-right:2%;
  border:3px solid black;
  height:75vh;
}
#live-video p{
  margin-top:35%;
}
#identify a{
  margin-top:200px;
  margin-left:100px;
}

.btn-space{
  width:65%;
}

.left-border-div{
  border-left:solid 3px black;
  height:75vh;
}

.left-border-div a{
  text-align:left;
  margin-bottom:10px;
}

.left-border-div a img{
  height:20px;
}

#arrow_down{
  margin-left:30%;
}

#thank h1{
  font-size:100px;
}

#thank h2{
  font-size:75px;
}

#popup_remove_item img{
  border:solid 3px black;
}

#popup_remove_item button{
  width:300px;
}

.btn-selectmoney{
    width:100%;
    height: 30rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    white-space: normal;
}
.btn-selectsubmoney{
    width:100%;
    height: 14rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    white-space: normal;
}
.cost-text{
    padding-top: 1rem;
    font-size: 12rem;
}

.row-cost{
    margin-top:5rem;
    margin-bottom:5rem;
}

.glyphicon-remove{
    color:red;
}

#items-table {
    width:100%;
}

#items-table thead, #items-table tbody, #items-table tr, #items-table td, #items-table th { display: block; }

#items-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#items-table thead th {
    height: 30px;
}

#items-table tbody {
    height:66vh;
    overflow-y: auto;
}

#items-table tbody td, #items-table thead th {
    width: 19.2%;
    float: left;
}

.big-btn-text{
  font-size: 4rem;
}

.big-btn-img{
  height:100%;
  float:left;
}

.close_modal{
    position:absolute;
    top:0px;
    right:0px;
}
.close_modal a img{width:50px;}
